h2 {
     color:#494747 ;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


h6 {
     text-align:left;
     color: #000000;
     font-size: 18px;
}

h5 {
     text-align: footer;
     color: #d82323;
}

h7 {
     text-align: align center;
}

textarea {
     width: 50%;
     height: 300px;
     padding: 100px 10px 20px 20px;
     margin-left: 1px;   
     box-sizing: border-box; 
     border: transparent;
     border-radius: 0px;
     background-color: transparent;
     font-size: 30px;
     resize: none;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
                  'Lucida Grande', 'Lucida Sans', 
                   Arial, sans-serif;

}

textarea:focus {
     outline: none;
}

.logo {
     float: left;
     padding: 5px 5px 5px 5px;
 }

 body {
     background-color: #f3f5fc;

 }

 footer   {
     font-size: 15px;
     margin-top: 300px;
     margin-left: 100px;
     padding: 10px 10px 10px 50px;

 }

 .main-container {
     display: flex;
     justify-content: center;
     align-items: start;
     padding: 0 5%;


 }

 aside {
     position: absolute;
     top: 0; 
     bottom: 0;
     right: 0;
     width: 20%;
     background-color: #eee;
     box-sizing: border-box;
     padding: 100px;
     overflow-y: auto;
     flex: 1; /* Esto permite que 'aside' ocupe todo el espacio disponible en su contenedor */
     max-width: 300px; /* Establecer un ancho máximo para el 'aside' */
     background-color: #eee;
     box-sizing: border-box;
     padding: 100px 20px; /* Ajustado el padding para que no sea tan grande */
     overflow-y: auto;
 }
 
